# Python
__pycache__/
*.pyc
*.pyo
venv/
.venv/

# Environment
.env
.env.local
.env*.local

# dbt
target/
dbt_packages/
logs/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Node (si frontend futur)
node_modules/
.next/
.vercel
out/
dist/
build/

# Misc
*.log
